@font-face {
	font-family: 'WorkSans';
	src: local('WorkSans'),
		url(./fonts/WorkSans-VariableFont_wght.ttf) format('woff');
}

body {
	margin: 0;
	font-family: 'WorkSans', 'Segoe UI';
	/* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif; */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

h1 {
	font-family: 'WorkSans';
	font-weight: 700;
	font-variation-settings: 'wdth' 400, 'wght' 700;
	text-transform: uppercase;
	font-size: 3rem;
}

h2 {
	font-family: 'WorkSans';
	font-weight: 700;
	font-variation-settings: 'wdth' 400, 'wght' 700;
	text-transform: uppercase;
	font-size: 1.5rem;
}

.link {
	cursor: pointer;
}

.uppercase {
	text-transform: uppercase;
}

.full-height {
	min-height: 100vh;
}

.margin-right-m {
	margin-right: 1em;
}

@media (max-width: 768px) {
	h1 {
		font-size: 2em;
	}
}
